.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  
  }
  .firstrow{
    display: flex;
    gap: 30px;
    padding: 30px, 20px;
  }
  .card{
    
    display: flex;
    flex-direction: row;
    background-color: rgba(173, 150, 200, 0);
    width: 500px;
    text-align: center;
    align-content: center;
    padding: 30px 20px;
    margin-top: 40px;
  }



  .card p{
    margin: 5px;
    font-size: 20px;
  }
  .card button{
    font-size: 20px;
    width: 150px;
    margin-left: 120px;
    background-color: darkorange;
    color: white;
  }

  img{
    height: 300px;
    width: 200px;
    margin: 10px;
  }


  header{
    /* height:80px;
    width:auto;
    color: wheat;
    background-color: rgb(45, 0, 0);
    display: flex;
    flex-direction: row;
    align-self: baseline!important; */
    
   
  }
  .img{
border-radius: 40px; 
  }
 header nav{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 30%;
    align-items: center;
 }
  
  header nav ul{
   padding :20px 80px;
   display: flex;
   flex-direction:row;
  }
  h4{align-items: center;
  margin:20px;}
  nav ul li{
    display: flex;
    justify-content:space-evenly;
    margin:10px 50px;
    font-size: 18px;
    color: white;
 }
.navigation li {
  display:flex;
}
.header{
  display: flex;
  width:auto;
  padding: 10px;
  flex-direction:row;
  justify-content: space-between;

  align-self: auto;
}

.landingpage{
  height:90vh;
  width: 100%;
  background-image: url("./imgs/adin.jpeg");
  background-size: cover;
  background-position: center;
  opacity: 90%;
  align-self: auto;
  padding-right: 20px;
}
.heroText{
  width:500px;
  margin:5rem auto;
  color:white;
  border: 2px solid silver;
  padding:10px;
  background:black;
  opacity: 60%;
  border-radius: 5px;
}
h2{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
p{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
footer{
  background-color: black;
  height: 80px;
}
.footer-copyright{
    display: flex;
    color:wheat;
    text-decoration: none;
    justify-content: space-evenly;
    font-size: 18px;
    margin-top: 10px;
}
.footer-copyright a{
color:wheat;
text-decoration: none;
}
